@{
    ViewBag.Title = "About";
}
 

    <div class="container">
        <br />
        <div class="section">
            <hr />
            <center><h2 class="section-title">The Designer</h2></center>
            <hr />

            <div class="row">
                <p>
                    Imane Gallaf is a self-taught Moroccan Caftan designer. Her interest in Caftan making
                    started during University education in Dubai making Caftans to herself and her sisters
                    and later enlarged the circle selling her Caftans to family and friends and their
                    neighborhood. She opened her Couture Atelier in Rabat to meet the growing demand
                    attracting women from her circle.
                </p>
                <p>
                    We make high quality, modern and luxurious Moroccan Kaftans. All pieces are hand made
                    and tailored to each customer. For you special event contact me at least 2 month before
                    the event.
                </p>
                <p>
                    Each Caftan is a unique copy, a one-of-a-kind piece which combines top quality with a
                    sensational look so that your glamour will turn you into the star of the occasion.
                </p>
                <p>
                    For unforgettable moments, for unique woman, for dreams to come true.
                </p>


            </div>
        </div>

        
        <br />
        <div class="section">
            <hr />

            <h2 class="section-title">Boutique Locations</h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h3>First Location</h3>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d115790.73204725208!2d51.445476!3d25.686614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1623897793832!5m2!1sen!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Second Location</h3>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d115483.24984598897!2d51.035223!3d25.351942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1623897915011!5m2!1sen!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>

        </div>
        <br />
    </div>

  



