@{
    ViewBag.Title = "Accessories";
}

<div class="container">
    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Accessories shopping</h2></center>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/acc1.jpg" class="card-img-top" alt="Acc 1">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/acc2.jpg" class="card-img-top" alt="Acc 2">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/acc3.jpg" class="card-img-top" alt="Acc 3">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/acc4.jpg" class="card-img-top" alt="Acc 4">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/acc5.jpg" class="card-img-top" alt="Acc 5">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/acc6.jpg" class="card-img-top" alt="Acc 6">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
