@{
    ViewBag.Title = "Collections";
}

<div class="container">
    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Collection 1</h2></center>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c1-diamondrose.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Diamond Rose</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c1-dior.jpg" class="card-img-top" alt="Product 2">
                    <div class="card-body">
                        <h3 class="card-title">Dior</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c1-emerald.jpg" class="card-img-top" alt="Product 3">
                    <div class="card-body">
                        <h3 class="card-title">Emerald</h3>
                    </div>
                </div>
            </div>
        </div>

        <br />

    </div>
    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Collection 2</h2></center>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c2-beige.png" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Beige</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c2-black.png" class="card-img-top" alt="Product 2">
                    <div class="card-body">
                        <h3 class="card-title">Black</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c2-blackgold.png" class="card-img-top" alt="Product 3">
                    <div class="card-body">
                        <h3 class="card-title">Black Gold</h3>
                    </div>
                </div>
            </div>
        </div>

        <br />

    </div>

    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Collection 3</h2></center>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c3-brocarddress.png" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h3 class="card-title">Brocard Dress</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c3-rose.png" class="card-img-top" alt="Product 2">
                    <div class="card-body">
                        <h3 class="card-title">Rose</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/c3-white.png" class="card-img-top" alt="Product 3">
                    <div class="card-body">
                        <h3 class="card-title">White</h3>
                    </div>
                </div>
            </div>
        </div>

        <br />

    </div>
</div>
