@{
    ViewBag.Title = "Styles";
}

<div class="container">
    <br />
    <div class="section">
        <hr />
        <center><h2 class="section-title">Styles</h2></center>
        <hr />

        <div class="row align-items-stretch">
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/image_0.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/image_2.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-40">
                    <img src="~/images/image_4.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
